body {
  font-family: Arial, sans-serif;
}

nav {
  background-color: #333;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 15px;
  display: inline-block;
}

nav a:hover {
  color: #ddd;
}

.login img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.welcome-message {
  font-size: 1.5em;
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-weight: bold;
  border: 2px solid #333;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

h1 {
  color: #333;
  text-align: center;
}

form {
  width: 50%;
  margin: 0 auto;
}

form div {
  margin-bottom: 15px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

form input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #444;
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  width: 80%; /* Adjust this value to change the table width */
  border-collapse: collapse;
  margin: 20px 0;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

table a {
  color: #333;
  text-decoration: none;
}

table a:hover {
  border: 2px solid black;
  color: #666;
  text-decoration: underline;
  text-emphasis-style: double;
  font-size: larger;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  margin: 0 10px;
}

.book-title {
  font-size: 2em;
  text-align: center;
  margin-top: 20px;
}

.book-author, .book-status {
  font-size: 1.2em;
  text-align: center;
  margin-top: 10px;
}

.review-form {
  margin: 20px auto;
  width: 50%;
}

.review-label, .rating-label {
  font-weight: bold;
}

.review-textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.rating-select {
  width: 100%;
  margin-bottom: 20px;
}

.submit-review {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
}

.reviews-title {
  text-align: center;
  margin-top: 30px;
  font-size: 2em;
  color: #333;
}

.review-item {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.reviewer-name {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.review-rating, .review-text {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.review-rating {
  font-weight: bold;
}

form[action*="/reviews/"] {
  margin-top: 10px;
}

form[action*="/reviews/"] input[type="submit"] {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

form[action*="/reviews/"] input[type="submit"]:hover {
  background-color: #cc0000;
}